@keyframes kering {
    from {
        transform: rotate(0deg)
        translate(120%) /* eredetileg 270px */
        rotate(0deg);
    }
    to {
        transform: rotate(-360deg)
        translate(120%) /* eredetileg 270px */
        rotate(360deg);
    }
}

html {
    background: url(../kepek/bg13_m.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
}

.kozepre {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.oldalAlja {
    position: absolute;
    top: 95%;
    left:50%;
    transform: translate(-50%,-50%);
}

.nagyKor, .kisKor {
    /* border: 3px solid green; */
    border-radius: 50%;
}

.nagyKor:hover {
    background-color: rgba(0, 128, 0, 0.4);
}

.kisKor:hover {
    background: rgba(255,255,255,0.8); /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
    background: -o-radial-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
    background: -moz-radial-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
    background: radial-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.nagyKor {
    width: 500px;
    height: 500px;
    /* background: url("../kepek/logo.png") rgba(0, 128, 0, 0) no-repeat center center; */
    background-size: 80% 80%;
    z-index: -1;
}

.kisKor {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 280px;
    left: 42%;
    font-size: 20px;
    color: rgb(0, 0, 128); /* belso tartalom szine */
    line-height: 170px; /* az eredeti magassaggal kb. megegyezo */
    text-align: center;
    background: rgba(255,255,255,0.4); /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.8));
    background: -o-radial-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.8));
    background: -moz-radial-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.8));
    background: radial-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.8));
    animation: kering 30s infinite linear;
    /* transform-origin: 50% 200px;
    animation-play-state: paused; */
}

.szoveg {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.kisKor1 {
    animation-delay: -10s;
}

.kisKor2 {
    animation-delay: -20s;
}

.kisKor3 {
    animation-delay: -30s;
}