div.lecke {
	position: relative;
	left: 75px;
	top: 0;
	float: right;
}

div.lecke-vid-container {
	position: absolute;
	width: 238px;
	left: 156px;
	top: 127px;
	background-color: #555555;
	height: 246px;
}

img.lecke-vid {
	width: 100%;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.content-right-mod {
	position: relative;
	left: -30px;
}

.lecke-upper-1, .lecke-upper-2 {
	cursor: pointer;
	border: 3px solid #900090;
	color: #8c2989;
	font-size: 1.1em;
	padding: 5px;
	width: 130px;
	text-align: center;
}

.lecke-upper-1 {
	margin-left: 125px;
}

.lecke-upper-2 {
	margin-left: 147px;
}

.lecke-upper-1:hover, .lecke-upper-2:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
