div.lecke {
	position: relative;
	left: -12px;
	top: 0;
	float: right;
}

div.lecke-vid-container {
	position: absolute;
	width: 238px;
	left: 156px;
	top: 127px;
	background-color: #555555;
	height: 246px;
}

img.lecke-vid {
	width: 100%;
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content-right {
	position: relative;
	left: -20px;
}

.lecke-upper-1 {
	border: 3px solid #900090;
	font-size: 1.1em;
	padding: 5px;
	width: 130px;
	text-align: center;
	margin-left: 195px;
}

.lecke-upper-2 {
	border: 3px solid #900090;
	font-size: 1.1em;
	padding: 5px;
	width: 130px;
	text-align: center;
	margin-left: 147px;
}