html, body {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgb(203, 203, 203) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(203, 203, 203,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(203, 203, 203,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(203, 203, 203,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(203, 203, 203,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(203, 203, 203,1) 100%) no-repeat fixed;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );

    /*background: no-repeat fixed;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgb(255, 255, 255)),
            color-stop(1, rgb(181, 181, 181)),
            color-stop(1, rgb(186, 186, 186))
    );
    background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(181, 181, 181) 100%, rgb(186, 186, 186) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(181, 181, 181) 100%, rgb(186, 186, 186) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(181, 181, 181) 100%, rgb(186, 186, 186) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(181, 181, 181) 100%, rgb(186, 186, 186) 100%);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(181, 181, 181) 100%, rgb(186, 186, 186) 100%);
    margin: 0;*/
}

#page-wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: 0 0 15px #333;
}

.flexbox-container {
    display: flex;
}

.content-left {
    width: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right {
    display: flex;
    align-items: center;
    flex: 0.95;
}

.content-right p, .content-right ol li, .content-right ul li {
    text-align: justify;
}

.content-right nav a {
    letter-spacing: 1px;
}

.circle-orange {
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px rgb(252, 144, 36) solid;
    width: 50px;
    height: 50px;
}

.circle-green {
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px #89c540 solid;
    width: 50px;
    height: 50px;
}

.circle-magenta {
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px #900090 solid;
    width: 50px;
    height: 50px;
}

.line-orange {
    width: 50px;
    background-color: rgb(252, 144, 36);
    height: 100%;
}

.line-green {
    width: 50px;
    background-color: #89c540;
    height: 100%;
}

.line-magenta {
    width: 50px;
    background-color: #900090;
    height: 100%;
}

.vertical-padding-5 {
    padding: 5px 0;
}

.vertical-padding-10 {
    padding: 10px 0;
}

.top-padding-10 {
    padding: 10px 0 0 0;
}

.bottom-padding-10 {
    padding: 0 0 10px 0;
}

table.reg td, table.erdeklodo_reg td, table.gyteszt_alja td:not(.gyta_elso) {
    padding-top: .5em;
    padding-bottom: .5em;
}

table.gyteszt_alja td.gyta_elso {
    padding-top: 2em;
    padding-bottom: .5em;
}

table.reg_kartya td, table.demo_kod td {
    /*margin-left: 2em;*/
    padding: 1.5em;
}

table.reg_kartya td input, table.demo_kod td input,
table.reg td input[type=text], table.reg td input[type=password], table.reg td input[type=email], table.reg tr td select,
table.erdeklodo_reg td input[type=text], table.erdeklodo_reg td input[type=password], table.erdeklodo_reg td input[type=email], table.gyteszt_alja tr td input#e-mail {
    /*margin-left: 1em;*/ /*abban az esetben, ha a szövegdoboz túl közel lenne a szöveghez*/
    outline: none;
    display: block;
    width: 170px;
    padding: 4px 8px;
    border: 1px dashed #DBDBDB;
    color: #3F3F3F;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: background 0.2s linear, box-shadow 0.6s linear;
    -moz-transition: background 0.2s linear, box-shadow 0.6s linear;
    -o-transition: background 0.2s linear, box-shadow 0.6s linear;
    transition: background 0.2s linear, box-shadow 0.6s linear;
}

table.reg_kartya td input:focus, table.demo_kod td input:focus,
table.reg td input[type=text]:focus, table.reg td input[type=password]:focus, table.reg td input[type=email]:focus,
table.erdeklodo_reg td input[type=text]:focus, table.erdeklodo_reg td input[type=password]:focus, table.erdeklodo_reg td input[type=email]:focus, table.gyteszt_alja tr td input#e-mail:focus {
    background: #F7F7F7;
    border: dashed 1px #969696;
    -webkit-box-shadow: 2px 2px 7px #E8E8E8 inset;
    -moz-box-shadow: 2px 2px 7px #E8E8E8 inset;
    box-shadow: 2px 2px 7px #E8E8E8 inset;
}

/*table.reg td input[type=text]:required:valid {
    border: 2px dashed rgba(137, 197, 64, 1);
}*/

div.kartya_ok, div.reg_ok, div.erd_reg_ok, div.kod_ok {
    background: url(../images/check48.png) no-repeat 10px 10px;
}

div.erd_reg_nem_ok, div.kod_nem_ok, div.kartya_nem_ok,
div.username_in_use, div.card_in_use, div.email_in_use {
    background: url(../images/error48.png) no-repeat 10px 10px;
}

div.kartya_ok h1, div.kartya_ok h2,
div.kartya_nem_ok h1, div.kartya_nem_ok h2,
div.reg_ok h1, div.reg_ok h2,
div.username_in_use h1, div.username_in_use h2,
div.card_in_use h1, div.card_in_use h2,
div.email_in_use h1, div.email_in_use h2,
div.erd_reg_ok h1, div.erd_reg_ok h2,
div.erd_reg_nem_ok h1, div.erd_reg_nem_ok h2,
div.kod_ok h1, div.kod_ok h2,
div.kod_nem_ok h1, div.kod_nem_ok h2 {
    color: white;
    padding: 5px 5px 5px 75px;
    text-align: left;
}

div.kartya_ok h2,
div.kartya_nem_ok h2,
div.reg_ok h2,
div.username_in_use h2,
div.card_in_use h2,
div.email_in_use h2,
div.erd_reg_ok h2,
div.erd_reg_nem_ok h2,
div.kod_ok h2,
div.kod_nem_ok h2 {
    font-size: medium;
}

div#also_link:hover {
    color: blue;
}


/* CSS FOR GYTESZT.PHP */

.gyteszt_gombok {
    list-style-type:none;
    padding:0;
    text-align:center;
}

.gyteszt_gombok li {
    display:inline-block; /* ehelyett lett alkalmazva: float:left; */
    margin:0 30px 0 0;
    padding:5px;
    width:35px;
    height:20px;
    position:relative;
}

.gyteszt_gombok label, .gyteszt_gombok input {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.gyteszt_gombok input[type="radio"] {
    opacity:0.011;
    z-index:100;
}

#gy_g1 input[type="radio"]:checked + label {
    background:yellow;
}

#gy_g2 input[type="radio"]:checked + label {
    background:rgb(252, 144, 36);
}

#gy_g3 input[type="radio"]:checked + label {
    background:#89c540;
}

#gy_g4 input[type="radio"]:checked + label {
    background:lightblue;
}

.gyteszt_gombok label {
    border:1px solid #CCC;
    cursor:pointer;
    z-index:90;
    /* font-size: js által beállítva; */
    overflow: hidden;
    text-align:center;
}

.gyteszt_gombok label:hover {
    background:#DDD;
}

#form-gyteszt {
    padding: 1em;
}
