html, body {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgb(203, 203, 203) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(203, 203, 203,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(203, 203, 203,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(203, 203, 203,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(203, 203, 203,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(203, 203, 203,1) 100%) no-repeat fixed;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );

    /*background: no-repeat fixed;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgb(255, 255, 255)),
            color-stop(1, rgb(181, 181, 181)),
            color-stop(1, rgb(186, 186, 186))
    );
    background-image: -o-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(181, 181, 181) 100%, rgb(186, 186, 186) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(181, 181, 181) 100%, rgb(186, 186, 186) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(181, 181, 181) 100%, rgb(186, 186, 186) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(255, 255, 255) 0%, rgb(181, 181, 181) 100%, rgb(186, 186, 186) 100%);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(181, 181, 181) 100%, rgb(186, 186, 186) 100%);
    margin: 0;*/
}

#page-wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: 0 0 15px #333;
}

.flexbox-container {
    display: flex;
}

.content-left {
    width: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right {
    display: flex;
    align-items: center;
    flex: 0.95;
}

.content-right p, .content-right ol li, .content-right ul li {
    text-align: justify;
}

.content-right nav a {
    letter-spacing: 1px;
}

.circle-orange {
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px rgb(252, 144, 36) solid;
    width: 50px;
    height: 50px;
}

.circle-green {
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px #89c540 solid;
    width: 50px;
    height: 50px;
}

.circle-magenta {
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px #900090 solid;
    width: 50px;
    height: 50px;
}

.line-orange {
    width: 50px;
    background-color: rgb(252, 144, 36);
    height: 100%;
}

.line-green {
    width: 50px;
    background-color: #89c540;
    height: 100%;
}

.line-magenta {
    width: 50px;
    background-color: #900090;
    height: 100%;
}

.vertical-padding-5 {
    padding: 5px 0;
}

.vertical-padding-10 {
    padding: 10px 0;
}

.top-padding-10 {
    padding: 10px 0 0 0;
}

.bottom-padding-10 {
    padding: 0 0 10px 0;
}

table.reg td {
    padding-top: .5em;
    padding-bottom: .5em;
}

table.reg td input[type=text], table.reg td input[type=password] {
    /*margin-left: 1em;*/ /*abban az esetben, ha a szövegdoboz túl közel lenne a szöveghez*/
    outline: none;
    display: block;
    width: 170px;
    padding: 4px 8px;
    border: 1px dashed #DBDBDB;
    color: #3F3F3F;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: background 0.2s linear, box-shadow 0.6s linear;
    -moz-transition: background 0.2s linear, box-shadow 0.6s linear;
    -o-transition: background 0.2s linear, box-shadow 0.6s linear;
    transition: background 0.2s linear, box-shadow 0.6s linear;
}

table.reg td input[type=text]:focus, table.reg td input[type=password]:focus {
    background: #F7F7F7;
    border: dashed 1px #969696;
    -webkit-box-shadow: 2px 2px 7px #E8E8E8 inset;
    -moz-box-shadow: 2px 2px 7px #E8E8E8 inset;
    box-shadow: 2px 2px 7px #E8E8E8 inset;
}